@font-face {
    font-family: 'Amanda Std Regular';
    src: url('/fonts/Amanda Std Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Light';
    src: url('/fonts/Palatino LT Std Light.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Bold';
    src: url('/fonts/Palatino LT Std Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Bold Italic';
    src: url('/fonts/Palatino LT Std Bold Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Light Italic';
    src: url('/fonts/Palatino LT Std Light Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Medium';
    src: url('/fonts/Palatino LT Std Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Medium Italic';
    src: url('/fonts/Palatino LT Std Medium Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Black';
    src: url('/fonts/Palatino LT Std Black.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Black Italic';
    src: url('/fonts/Palatino LT Std Black Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Dialog Cond SemiBold Regular';
    src: url('/fonts/Dialog Cond SemiBold Regular.woff2') format('woff');
}

@font-face {
    font-family: 'Palatino LT Std Light Bold';
    src: url('/fonts/Palatino LT Std Light Bold.otf') format('opentype');
}

#renderedCardText {
    font-family: 'Palatino LT Std Light', serif;
    position: absolute;
    height: 135px;
    width: 345px;
    left: 50%;
    transform: translateX(-50%);
    z-index:10;
    top:408px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    align-items:center;
    justify-content:center;
    text-align:left;
    letter-spacing:0.015em;
}

#renderedCardText > * {
    font-family: 'Palatino LT Std Light', serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display:block;
    width:100%;
    font-size:17.82px;
    line-height:21.16px;
}

#renderedCardText strong {
    font-family: 'Palatino LT Std Medium', serif;
    font-weight: normal;
}

.cardParent {
    font-family: 'Palatino LT Std Light', serif;
    position:relative;
}

.exampleCard {
    width:450px;
    height:628px;
    position:absolute;
    z-index:20;
    opacity:0.3;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-cover {
    height: 8px;
    margin: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 30px;
    position: relative;
    width: 120px;
}

.button {
    position: relative;
    top: 50%;
    width: 120px;
    height: 30px;
    margin: -15px auto 0 auto;
    overflow: hidden;
}

.button.r {
    border-radius: 30px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #FFFFFF;
    transition: 0.3s ease all;
    z-index: 1;
}

.knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.knobs:before {
    content: "Old Style";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 56px;
    height: 26px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    background-color: #2A2A2A;
    border-radius: 26px;
    transition: 0.3s ease all;
}

.checkbox:checked + .knobs:before {
    content: "New Style";
    left: 60px;
    background-color: #A6864A;
}

.checkbox:checked ~ .layer {
    background-color: #FFFFFF;
}

