@font-face {
    font-family: 'Amanda Std Regular';
    src: url('/fonts/Amanda Std Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Light';
    src: url('/fonts/Palatino LT Std Light.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Bold';
    src: url('/fonts/Palatino LT Std Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Bold Italic';
    src: url('/fonts/Palatino LT Std Bold Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Light Italic';
    src: url('/fonts/Palatino LT Std Light Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Medium';
    src: url('/fonts/Palatino LT Std Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Medium Italic';
    src: url('/fonts/Palatino LT Std Medium Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Black';
    src: url('/fonts/Palatino LT Std Black.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Black Italic';
    src: url('/fonts/Palatino LT Std Black Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Dialog Cond SemiBold Regular';
    src: url('/fonts/Dialog Cond SemiBold Regular.woff2') format('woff');
}

@font-face {
    font-family: 'Palatino LT Std Light Bold';
    src: url('/fonts/Palatino LT Std Light Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Italic';
    src: url('/fonts/Palatino LT Std Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Palatino LT Std Roman';
    src: url('/fonts/Palatino LT Std Roman.otf') format('opentype');
}

#renderedCardText {
    position: absolute;
    height: 135px;
    width: 345px;
    left: 50%;
    transform: translateX(-50%);
    z-index:10;
    top:408px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
    align-items:center;
    justify-content:center;
    text-align:left;
}

#renderedContent > * {
    word-wrap: break-word;
    overflow-wrap: break-word;
    display:block;
    width:100%;
    letter-spacing:0.018em;
    text-align:left;
}

#renderedCardText p {
    font-family: 'Palatino LT Std Roman', serif;
    margin: 0;
    padding: 0;
    letter-spacing:0.014em;
}

#renderedCardText p + p {
    margin-top: 1em; /* This adds space between paragraphs, matching a single line break */
}

#renderedCardText br {
    line-height: inherit;
}

#renderedContent strong {
    font-family: 'Palatino LT Std Bold', serif;
    font-weight: normal;
    font-size: 0.99em;
    letter-spacing:0.016em;
}

#renderedContent em {
    font-family: 'Palatino LT Std Italic', serif;
    font-style: normal;
    letter-spacing:0.0128em;
    font-size:1.0001em;
}

#renderedContent {
    padding-left:0.08em;
}

.cardParent {
    font-family: 'Palatino LT Std Light', serif;
    position:relative;
}

.exampleCard {
    width:450px;
    height:628px;
    position:absolute;
    z-index:20;
    opacity:0.3;
}