@import "tailwindcss";
@import "./css/animations.css";
@import "./css/customstyles.css";
@import "./css/editor.css";

@theme {
    --color-primary: #A6864A;
    --color-dark: #2A2A2A;
    --breakpoint-cardback: 450px;
}

.button-primary {
    @apply
    rounded-md
    bg-primary
    text-sm
    font-semibold
    text-white
    shadow-xs
    hover:bg-gray-600
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-white
}

/* Tell tailwind to not touch styles inside the cardText */
@layer base {
    #renderedCardText ul, #renderedCardText ol {
        list-style: inside;
    }
}